
:root {
   --color1:#2196F3;
   --color-bg:#2F303A;
   --color-bg2: #fff;
   --color-text: #757575;

    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;

}

body {
    font-family: var(--font-family-primary);
    width: 1600px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    font-size: 36px;
    text-align: center;
}

/* header end logo footer*/

.logo {
    font-size: 26px;
    font-family: var(--font-family-logo);
    font-weight: 700;
    color: black;
}

.logo span {
    color: var(--color1);
}

.header {
    font-size: 14px;
    background-color: var(--color-bg2);
}

.menu a {
    color: black;
}


.menu-link:hover,
.contact-link:hover {
    color: var(--color1);
}

.contact-link,
.adress-link {
    color: var(--color-text);
}

/* section studio */

.studio {
    background-color: #2F303A;
    padding: 200px 452px;    
}

h1 {
    font-size: 44px;
    color: #fff;
    text-transform: uppercase;
    
}

.btn-order {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--color1);
}

/* about */

.about {
    font-size: 14px;
    background-color: var(--color-bg2);
    
}

.about-title {
    width: 270px;
    height: 101px;
}

.about-title h3 {    
    text-transform: uppercase;
}

.about-title p {
    color: var(--color-text);
    font-weight: regular;
}

/* work */

.fotowork {
    width: 370px;
    height: 294px;
}

/* contact */

.contactfoto {
    width: 270px;
    height: 260px;
}

.contact-title {
    font-size: 16px;
}

.contact-title p {
    color: var(--color-text);
    font-weight: regular;
}


/* footer */

footer {
    background-color: var(--color-bg);
}






/* немогу изменить цвет адреса (там где ссылка на карту) на белый */
.adress-link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.40;
    color: var(--color-text);
}

.adress-link li:first-child {
    color: var(--color-bg2);
}

.buttons {
    background-color: var(--color-bg2);
}


.btn {
    cursor: pointer;
    padding: 12px 22px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    font-family: var(--font-family-primary);
    font-weight: 500;
}

.btn:hover {
    color: #fff;
    background-color: var(--color1);
}

.portfolio p {
    color: var(--color-text);
}

.portfolio-foto {
    width: 370px;
    height: 290px;
}













