:root {
   --color1:#2196F3;
   --color-bg:#2F303A;
   --color-bg2: #fff;
   --color-text: #757575;

}

body {
    font-family: 'roboto';
    width: 1600px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    font-size: 36px;
    text-align: center;
}

/* header end logo footer*/

.logo {
    font-size: 26px;
}

.logo span {
    color: var(--color1);
}

.header {
    font-size: 14px;
    background-color: var(--color-bg2);
}

.menu a {
    color: black;
}


.menu-link:hover,
.contact-link:hover {
    color: var(--color1);
}

.contact-link,
.adress-link {
    color: var(--color-text);
}

/* section studio */

.studio {
    background-color: #2F303A;
    padding: 200px 452px;    
}

h1 {
    font-size: 44px;
    color: #fff;
    text-transform: uppercase;
    
}

.btn-order {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: var(--color1);
}

/* about */

.about {
    font-size: 14px;
    background-color: var(--color-bg2);
    
}

.about-title {
    width: 270px;
    height: 101px;
}

.about-title h3 {    
    text-transform: uppercase;
}

.about-title p {
    color: var(--color-text);
}

/* work */

.fotowork {
    width: 370px;
    height: 294px;
}

/* contact */

.contactfoto {
    width: 270px;
    height: 260px;
}

.contact-title {
    font-size: 16px;
}

.contact-title p {
    color: var(--color-text);
    font-weight: regular;
}


/* footer */

footer {
    background-color: var(--color-bg);
}

/* .adress a:nth-child(1) {
    color: #fff;
} */

/* немогу изменить цвет адреса на белый */
.adress-link {
    color: #fff;
}

.adress a {
    font-size: 14px;
    font-style: normal;
    line-height: 25px;
    color: var(--color-text);
}











